##### 3️⃣ [FY21-Q3](https://gitlab.com/gitlab-com/www-gitlab-com/-/issues/8363) (August 1, 2020 to October 31, 2020) (Current)

<%= partial("direction/okrs-list", locals: { ref_key: "UX", fiscal_year_key: 2021, quarter_key: "Q3" }) %>

<a href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/data/okrs.yml" class="btn btn-default btn-sm">Update OKRs</a>

For our past OKRs see the [archive](handbook/engineering/ux/stage-group-ux-strategy/ux_okr_archive).
