| Value |Level | Meaning |
| ------|------|---------|
| 3 | <%= color_code_health(3) %> | The KPI is at an acceptable level compared to the threshold |
| 2 | <%= color_code_health(2) %> | This is a blip, or we’re going to watch it, or we just need to enact a proven intervention |
| 1 | <%= color_code_health(1) %> | We'll prioritize our efforts here |
| 0 | <%= color_code_health(0) %> | Unknown |
