.hero-container.blhero2.skhero1
  .hero-content
    .row{style: "width: 100%; max-width: 1200px;"}
      .col-md-6
        %h1.bold-headline.margin-top0.hero-item
          You belong here
        .hero-item.text-left
          %h3 
            GitLab Commit Virtual Conference happening now!
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "https://gitlabcommitvirtual.com/", class: "btn cta-btn orange-light" do
            Join us
      .col-md-6
        .iframe-wrap.u-margin-top-sm{style: "width: 100%; height: 0; padding-bottom: 56.25%; position: relative;"}
          %iframe{ src: "https://www.youtube.com/embed/IC0-A1z74xI", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "true", style: "width: 100%; height: 100%; position: absolute; top: 0; left: 0;" }

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>

-# fix floating bug
:css
  .hero-content .col-md-6:after {
    content: "";
    display: table;
  }
